$main-color: #ffb027;
$fond-color: #003b6c;
$utility-color: #80202b;
$substrate-color: #cacaca;
$main-shadow:-3px 3px 12px rgb(66, 66, 66);
$minor-shadow:-2px 1px 4px rgb(181, 181, 181);
$font-shadow:-2px 1px 4px rgba(0, 0, 0, 0.7);
