@import '../base/variables.scss';
@import '../base/title.scss';

.info{
    width: calc(60% - 220px);
    margin-right: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: $main-shadow;
    padding: 10px 15px;
}